/nginx

**/node_modules

**/.env

/backend/api-gateway/node_modules
/backend/comments-service/node_modules
/backend/users-service/node_modules
/backend/posts-gateway/node_modules

/backend/api-gateway/.env
/backend/comments-service/.env
/backend/users-service/.env
/backend/posts-gateway/.env


/frontend/node_modules